<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <div class="logo-container">
      <img class="sidebar-logo-image" src="images/logo/eclosia-white.png" alt="Eclosia" />
    </div>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <ng-container *ngFor="let item of mainMenus">
        <!-- Lien simple -->
        <li *ngIf="!item.children?.length">
          <a
            [routerLink]="item.route"
            routerLinkActive="active"
            class="nav-link"
            (click)="onLinkClick()"
          >
            <i class="bi" [ngClass]="item.icon"></i>
            <span>{{ item.label }}</span>
          </a>
        </li>

        <!-- Sous-menu -->
        <li
          *ngIf="item.children?.length"
          class="has-submenu students-menu"
          [class.open]="isExpanded(item.id)"
          [class.pedagogical-menu]="item.id === 'pedagogical-config'"
        >
          <a
            class="nav-link dropdown-toggle"
            style="cursor: pointer;"
            (click)="toggleExpanded(item.id)"
          >
            <i class="bi" [ngClass]="item.icon"></i>
            <span>{{ item.label }}</span>
            <span class="chevron-down"></span>
          </a>
          <ul
            class="submenu students-submenu"
            [class.finance-submenu]="item.id === 'finances'"
          >
            <li *ngFor="let child of item.children">
              <a
                class="submenu-link"
                [routerLink]="child.route"
                [queryParams]="child.queryParams || null"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="onLinkClick()"
              >
                <i *ngIf="child.icon" class="bi" [ngClass]="child.icon"></i>
                <span>{{ child.label }}</span>
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nav>

  <div class="sidebar-footer">
    <div class="sidebar-bottom-nav">
      <ul class="footer-nav-list">
        <ng-container *ngFor="let item of footerMenus">
          <li class="has-submenu" [class.open]="isExpanded(item.id)">
            <a
              class="nav-link dropdown-toggle settings-link"
              style="cursor: pointer;"
              (click)="toggleExpanded(item.id)"
            >
              <i class="bi" [ngClass]="item.icon"></i>
              <span>{{ item.label }}</span>
              <span class="chevron-down"></span>
            </a>
            <ul class="submenu">
              <li *ngFor="let child of item.children">
                <a
                  class="submenu-link"
                  [routerLink]="child.route"
                  routerLinkActive="active"
                  (click)="onLinkClick()"
                >
                  <i *ngIf="child.icon" class="bi" [ngClass]="child.icon"></i>
                  <span>{{ child.label }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="version-label">v1.5-dev</div>
    <div class="flag-bar">
      <div class="blue"></div>
      <div class="yellow"></div>
      <div class="red"></div>
    </div>
  </div>
</aside>
